@import 'includes/variables';
@import 'includes/mixines';
@import 'utils/buttons';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	background: $dark;
	color: $light;
	font-family: $main-font;

	main {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: $max-width;
		min-height: 100vh;

		.container {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: center;
			padding: 0 1rem;
		} /* .container */
	} /* main */
} /* body */

@import 'components/header';
@import 'components/home-page';
@import 'components/shows-page';
@import 'components/search';
@import 'components/show-card';
@import 'components/show-details';
@import 'components/go-back';
@import 'components/loading';
@import 'components/footer';
