.button {
	align-content: center;
	background: transparent;
	border: none;
	border-radius: 0.25rem;
	color: $primary;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	font-size: 1rem;
	font-family: $main-font;
	line-height: 1.5rem;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	transition: all 0.3s;

	&:hover {
		background: rgba($light, 0.5);
	}

	&--primary {
		background: $primary;
		color: $dark;

		&:hover {
			background: rgba($primary, 0.7);
		}
	} /* --primary */

	&--secondary {
		background: $secondary;
		color: $primary;

		&:hover {
			background: rgba($secondary, 0.7);
		}
	} /* --secondary */

	&--light {
		background: $light;
		color: $dark;

		&:hover {
			background: rgba($light, 0.7);
		}
	} /* --light */

	&--light-primary {
		background: transparent;
		color: $light;

		&:hover {
			background: rgba($primary, 0.7);
		}
	} /* --primary */
} /* .button */
