.show-details {
	margin: 2rem 0 0;
	position: relative;

	@include tablet {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: 2fr 4fr;
		grid-template-areas:
			'poster summary'
			'poster data';
	}

	.fav-btn {
		position: absolute;
		top: -4.5rem;
		right: 0;

		.icon {
			margin-right: 0.5rem;
		}
	} /* .fav-btn */

	.poster {
		align-self: self-start;
		background: rgba($secondary, 0.1);
		border-radius: 0.5rem;
		float: right;
		height: auto;
		margin: 0 0 1rem 1rem;
		min-width: 40%;
		overflow: hidden;
		position: relative;
		width: 40%;

		&.loading {
			&:before {
				align-items: center;
				color: $secondary;
				content: 'Loading image...';
				display: flex;
				height: 100%;
				justify-content: center;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}

		@include tablet {
			border: none;
			float: none;
			grid-area: poster;
			margin: 0;
			width: 100%;
		}

		img {
			display: block;
			height: 0;
			opacity: 0;
			transition: opacity 0.4s;
			width: 100%;
			padding-top: 150%;

			&.loaded {
				padding: 0;
				height: auto;
				opacity: 1;
			}
		}
	} /* .poster */

	.summary {
		grid-area: summary;
		margin: 0 0 2rem;

		@include tablet {
			margin: 0;
		}

		.show-title {
			border-bottom: 1px solid $secondary;
			font-size: 1.25rem;
			line-height: 1.1;
			margin: 0 0 1rem;
			padding: 0 0 1rem;
			width: calc(60% - 1rem);

			@include tablet {
				font-size: 1.5rem;
				width: 100%;
			}
		} /* .show-title */
	} /* .summary */

	.show-data {
		background: rgba($light, 0.1);
		border-radius: 0.5rem;
		clear: both;
		grid-area: data;
		padding: 1rem;

		.type,
		.status {
			font-size: 0.9rem;
			margin: 0 0 0.5rem;

			.value {
				color: $primary;
			}

			@include tablet {
				font-size: 1rem;
			}
		} /* type, status */

		.genres {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 1rem 0;
			padding: 0;

			.genre-tag {
				border-radius: 0.25rem;
				border: 1px solid rgba($primary, 0.75);
				color: rgba($primary, 0.75);
				font-size: 0.6rem;
				letter-spacing: 0.1rem;
				margin: 0 0.5rem 0.5rem 0;
				padding: 0.25rem 0.5rem;
				text-transform: uppercase;

				@include tablet {
					font-size: 0.7rem;
				}
			}
		} /* .generes */

		.rating {
			display: flex;

			.label {
				font-size: 0.8rem;
				letter-spacing: 0.1rem;
				margin: 0 0.5rem 0 0;
				text-transform: uppercase;
			}

			p {
				font-size: 0.8rem;
				height: 1rem;
				margin: 0;
			}

			.value {
				align-items: center;
				display: flex;

				.stars {
					color: $primary;
					display: flex;
					margin-left: 0.5rem;
				}
			}
		} /* .rating */

		@include tablet {
			padding: 1.5rem;
		}
	} /* .show-data */
}
