.shows-list {
	margin: 0 0 auto;
	width: 100%;

	.shows-list-header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 3rem 0 2rem;

		@include tablet {
			flex-direction: row;
		}

		.page-title {
			color: $primary;
			text-align: center;
			margin: 0 1rem 0 0;
		} /* .page-title */

		.button {
			margin: 2rem 0 0;

			@include tablet {
				margin: 0;
			}

			.icon {
				margin-right: 0.5rem;
			}
		}
	} /* .shows-grid-header */

	.shows-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	} /* .shows-grid */
} /* .shows-list */
